<nav id="storyNew-nav">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a ui-sref="#">Log Out</a></li>
        </ul>
    </div>
</nav>


<div class="container">
   <form ng-submit="$ctrl.save()">
       <h1> Who is in your story? <h1>
       <div>
           <label for="name"></label>
           <input type="text"
               name="name"
               id="name"
               placeholder="Name"
               ng-model="$ctrl.story.name">
       </div>
       <h1> What are they? <h1>
       <div>
           <label for="animal"></label>
           <input type="text"
               name="animal"
               id="animal"
               placeholder="Type of Animal"
               ng-model="$ctrl.story.animal">
       </div>
       <h1> Where are they going? <h1>
       <div>
           <label for="place"></label>
           <input type="text"
               name="place"
               id="place"
               placeholder="Place"
               ng-model="$ctrl.story.place">
       </div>
       <br>
       <input id="saveStoryBtn" class="waves-effect waves-light btn" type="submit" value="Save" >
   </form>
</div>
