extends layout

block content
  h1 This is our landing page!
  p Put a description of our product here
  h2 Log In
  form(method='POST' action='/login')
        div.form-group
          label(for='email') Email
          input.form-control(type='text' id='email' placeholder='email' name='email')
        div.form-group
          label(for='password') Password
          input.form-control(type='password' id='password' placeholder='password' name='password')
        button.btn.btn-primary(type='submit') Log in

  p.
    If you haven't signed up yet, #[a(ui-sref="signup") click here].
