html
	head
		title title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body(ng-app='storyBook')
		a(ui-sref='story') Stories:
		ui-view
		block content
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js')
		script(src='/js/client.js')
		script(src='/js/stories/story.js')
