html
	head
		title Storyify
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand")

	body(ng-app='storyBook')
		ui-view
		block content
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.1/angular-materialize.min.js')
		script(src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js")
		script(src='/js/client.js')
		script(src='/js/stories/progressDashboard/progressDashboard.component.js')
		script(src='/js/stories/storyEdit/storyEdit.component.js')
		script(src='/js/stories/storyIndex/storyIndex.component.js')
		script(src='/js/stories/storyNew/storyNew.component.js')
		script(src='/js/stories/storyShow/storyShow.component.js')
		script(src='/js/stories/story.service.js')
		script(src='/js/auth/auth.service.js')
		script(src='/js/auth/login/login.component.js')
		script(src='/js/auth/signup/signup.component.js')
		script(src='/js/navbar/navbar.js')
