doctype html
html(ng-app="storyBook")
	head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')
	body
	nav
	button
	a(ui-sref='stories') Stories
	main(ui-view='')
	block content
	script(src='/angular/angular.min.js', charset='utf-8')
	script(src='/angular-ui-router/release/angular-ui-router.min.js', charset='utf-8')
	script(src='/js/client.js')
	script(src='js/stories/story.js')