<h2>SIGN UP</h2>

<form name="form" ng-submit='$ctrl.signup(form)' novalidate>

    <div class="form-group" ng-class="{ 'has-success': form.username.$valid && $ctrl.submitted,
                                        'has-error': form.username.$invalid && $ctrl.submitted }">

        <fieldset class="form-group">

            <label for="username"> Email</label>
            <input type="email"
                   id="username"
                   placeholder="email"
                   ng-model="$ctrl.user.username"
                   name="username"
                   class="form-control" required mongoose-error />

            <p class="help-block" ng-show="form.username.$error.required && $ctrl.submitted">
                What's your email address?
            </p>

            <p class="help-block" ng-show="form.username.$error.mongoose">
                {{ $ctrl.errors.username }}
            </p>

        </fieldset>

    </div>

    <div class="form-group" ng-class="{ 'has-success': form.password.$valid && $ctrl.submitted,
                                          'has-error': form.password.$invalid && $ctrl.submitted }">

        <fieldset class="form-group">

            <label for="password">Password</label>
            <input type="password"
                   id="password"
                   placeholder="password"
                   ng-model="$ctrl.user.password"
                   ng-minLength="6"
                   name="password"
                   class="form-control"
                   required
                   mongoose-error/>

            <p class="help-block"
               ng-show="(form.password.$error.minlength || form.password.$error.required) && $ctrl.submitted">
                Password must be at least 6 characters.
            </p>

            <p class="help-block" ng-show="form.password.$error.mongoose">
                {{ $ctrl.errors.password }}
            </p>

            <p class="help-block" ng-show="form.password.$error.required && $ctrl.submitted">
                Required
            </p>

        </fieldset>

    </div>

    <button type="submit"
            class="btn btn-primary">SUBMIT</button>

</form>
