body {
  padding: 50px;
}

#storyList {
  float: left;
  border: 1px solid lightgray;
  border-radius: 8px;
  width: 62%;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 62%;
}

#singleStoryInList {
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  font-size: x-large;
  cursor: pointer;
}

#addStory {
  float: right;
  margin: 8%;
}

#addStoryBtn {
  width: 200px;
  height: 200px;
}

#navbar {
  margin-bottom: 50px;
  box-shadow: 0 8px 6px -6px #999;
}


#storyNewSaveBtn {
  padding: 10px;
  font-size: 55%;
  text-align: center;
  vertical-align: center;
  height: 55px;
}

#storyNewBackBtn{
  padding: 10px;
  font-size: 55%;
  text-align: center;
  vertical-align: center;
  height: 55px;
}

#storyEditSaveBtn {
  padding: 10px;
  font-size: 55%;
  text-align: center;
  vertical-align: center;
  height: 55px;
}

#storyEditBackBtn {
  padding: 10px;
  font-size: 55%;
  text-align: center;
  vertical-align: center;
  height: 55px;
}

#storyShowBackBtn {
  padding: 10px;
  font-size: 55%;
  text-align: center;
  vertical-align: center;
  height:55px;
}

#homeBtn{
  width: 52px;
  height: 52px;
  margin: 6px;
  /*background-image: url("/images/512x512.png");*/
}


