/**/
/*//// ALL PAGES ////*/
/**/
* {
  font-family: 'Quicksand', sans-serif;
}

body {
  padding: 50px;
}

html {
  background-image: url("/images/sky-grass.png");
  /*background-repeat: no-repeat;*/
  background-size: 100% 100%;
}

#navbar {
  margin-bottom: 30px;
  box-shadow: 0 8px 6px -6px #999;
}

#homeBtn{
  width: 52px;
  height: 52px;
  margin: 6px;
}

/**/
/*////LOGIN PAGE (/login)////*/
/**/
#navbar h2 {
  text-align: center;
}

#loginCard {
  text-align: center;
  width: 1200px;
  margin: ;
}

 #loginBtn{
   margin-top: 20px;
   margin-right: 10px;
 }

/**/
/*////SIGNUP PAGE (/signup)////*/
/**/
#signUpBtn{
  margin-top: 20px;
  margin-left: 10px;
}

#signUpNewBtn{
  margin-top: 20px;
  margin-left: 10px;
}

#signUpBackBtn{
  margin-top: 20px;
  margin-left: 10px;
}


/**/
/*////STORY INDEX PAGE (/my-stories)////*/
/**/
.storyIndexHeader {
  text-align: center;
  max-width: 62%;

}

#storyList {
  float: left;
  border: 1px solid lightgray;
  border-radius: 8px;
  width: 62%;
  /*overflow: hidden;*/
  text-overflow: ellipsis;
  max-width: 62%;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 0;
  height: 54%;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100%);
  scroll-snap-destination: 50% 50%;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
}

#singleStoryInList {
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  font-size: x-large;
  cursor: pointer;
  scroll-snap-coordinate: 50% 50%;
  text-overflow: ellipsis;
}

#addStory {
  float: right;
  margin: 8%;
}

.storyIndexEditBtns {
  float: right;
  display: inline-flex;
}

.storyIndexEditBtns button {
  margin-right: 5px;
}

.storyIndexEditBtns button:hover {
  transform: translateY(2px);
}

#addStoryBtn {
  width: 200px;
  height: 200px;
}
#addStoryBtn:hover {
  transform: translateY(4px);
}

/**/
/*////STORY SHOW PAGE (/show)////*/
/**/
.storyshowcontainer {
  box-sizing:border-box;
  text-align: center;
}

#titleSection {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.card-panel .textSide {
  float: left;
  width: 49%;
  /*margin-left: 2%;*/
}

.card-panel .imageSide {
  float: right;
  width: 49%;
  /*margin-left: 1%;*/
}

#storyShowScroll .card-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 380px;
  margin-bottom: 10px;
  margin-top: 10px;
  vertical-align: middle;
  width: 94%;
  scroll-snap-coordinate: 50% 50%;
  margin-left: 30px;
}

#storyshowscroll {
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 0;
  width: 94%;
  height: 410px;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100%);
  scroll-snap-destination: 50% 50%;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
}

#endSection {
  width: 100%;
  text-align: center;
}


/**/
/*////STORY EDIT PAGE (/edit)////*/
/**/
#storyEditHeader {
  text-align: center;
  margin-top: 1%;
}

.storyEditcontainer {
  float: right;
  width: 69%;
  /*margin-right: 1%;*/
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 0;
  height: 65%;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100%);
  scroll-snap-destination: 50% 50%;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
}

.storyEditcontainer .card-panel {
  width: 96%;
  align-items: center;
  scroll-snap-coordinate: 50% 50%;
  margin-left: 2%;
}


#storyEditBtns {
  float: right;
  text-align: center;
  margin-top: 20px;
  width: 69%;
  align-items: center;
}


/**/
/*////STORY NEW PAGE (/new)////*/
/**/
#storyNewHeader {
  text-align: center;
}

.storyNewcontainer {
  float: right;
  width: 69%;
  /*margin-right: 1%;*/
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 0;
  height: 65%;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100%);
  scroll-snap-destination: 50% 50%;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);

}

.storyNewContainer .card-panel {
  width: 96%;
  align-items: center;
  scroll-snap-coordinate: 50% 50%;
  margin-left: 2%;
  /*margin-left: 10%;*/
}

.test {
  background-color: red;
}

.radioGroup {
  display: inline-block;
}


#statusBar {
  float: left;
  width: 25%;
  margin-right: 1%;
  margin-top: 0;
  position: fixed;
  height: 56%;
  position: fixed
}

#titleText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#nameText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#storyNewButtons {
  float: right;
  text-align: center;
  margin-top: 20px;
  width: 69%;
  align-items: center;
}


/*Progress Bar Classes*/
/*These need to be adjusted based on how many form inputs there are in New Story*/
/*Currently there are 4*/

.noProgress{
  width: 0%;
}
.fourthProgress{
  width: 25%;
}
.halfProgress {
  width: 50%;
}
.threeFourthsProgress{
  width: 75%;
}
.fullProgress{
  width: 100%;
}
