<nav id="navbar">
    <h2>Create an Account</h2>
</nav>

<div id="loginCard">
    <div class="row valign-wrapper">
        <div class="col s6 offset-s3 valign">
            <div class="card light-blue darken-2">
                <div class="card-content white-text">
                    <span class="card-title">
                        <h4>Parent / Teacher Sign Up</h4>
                        <p>Children must be logged in by a parent.</p>
                    </span>

<form name="form" ng-submit='$ctrl.signup(form)' novalidate>

    <div class="form-group" ng-class="{ 'has-success': form.username.$valid && $ctrl.submitted,
                                        'has-error': form.username.$invalid && $ctrl.submitted }">

            <input type="email"
                   id="username"
                   placeholder="email"
                   ng-model="$ctrl.user.username"
                   name="username"
                   class="form-control" required mongoose-error />

            <p class="help-block" ng-show="form.username.$error.required && $ctrl.submitted">
                What's your email address?
            </p>

            <p class="help-block" ng-show="form.username.$error.mongoose">
                {{ $ctrl.errors.username }}
            </p>
    </div>

    <div class="form-group" ng-class="{ 'has-success': form.password.$valid && $ctrl.submitted,
                                          'has-error': form.password.$invalid && $ctrl.submitted }">

            <input type="password"
                   id="password"
                   placeholder="password"
                   ng-model="$ctrl.user.password"
                   ng-minLength="6"
                   name="password"
                   class="form-control"
                   required
                   mongoose-error/>

            <p class="help-block"
               ng-show="(form.password.$error.minlength || form.password.$error.required) && $ctrl.submitted">
                Password must be at least 6 characters.
            </p>

            <p class="help-block" ng-show="form.password.$error.mongoose">
                {{ $ctrl.errors.password }}
            </p>

            <p class="help-block" ng-show="form.password.$error.required && $ctrl.submitted">
                Required
            </p>
    </div>

    <button id='signUpNewBtn' class="waves-effect waves-light red lighten-2 btn" type="submit">SUBMIT</button>
    <button id='signUpBackBtn'class="waves-effect waves-light red lighten-2 btn" ui-sref="index">BACK</button>

</form>
