<nav id="storyEdit-nav">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a ui-sref="#">Log Out</a></li>
        </ul>
    </div>
</nav>

<div class="container">
   <form ng-submit="$ctrl.save()">
       <h1> Who is in your story? <h1>
       <div>
           <label for="name"></label>
           <input type="text"
               name="name"
               placeholder="Matilda"
               ng-model="$ctrl.story.name">
       </div>
       <h1> What are they? <h1>
       <div>
           <label for="animal"></label>
           <input type="text"
               animal="animal"
               placeholder="Slug"
               ng-model="$ctrl.story.animal">
       </div>
       <h1> Where are they going? <h1>
       <div>
           <label for="place"></label>
           <input type="text"
               place="place"
               placeholder="Greece"
               ng-model="$ctrl.story.place">
       </div>
       <button id="storyEditSaveBtn" type="submit" class="waves-effect waves-light btn">Save</button>
       <button id="storyEditBackBtn" ui-sref="storyIndex" class="waves-effect waves-light btn">Back</button>
   </form>
</div>
