<navbar></navbar>

<div id="storyList">
<h1> {{$ctrl.username}}'s Stories </h1>

 <!--{{$ctrl.stories}}-->


<ul>
  <li ng-repeat="story in $ctrl.stories">
    <article>
      <a ng-click="$ctrl.show(story)" > {{story.title}} </a>
        <button ng-click="$ctrl.edit(story)" class="btn-floating waves-effect waves-light green"><i class="material-icons">mode_edit</i></button>
        <button ng-click="$ctrl.delete(story)" class="btn-floating waves-effect waves-light red"><i class="material-icons">delete</i></button>
        <!--<button ng-click="$ctrl.edit(story)">Edit</button>-->
        <!--<button ng-click="$ctrl.delete(story)">Delete</button>-->
    </article>
  </li>
</ul>
</div>

<div id="addStory">
    <a ui-sref='storyNew' class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
</div>



