<navbar></navbar>
<!--<nav id="storyIndex-nav">-->
    <!--<div class="nav-wrapper" >-->
        <!--<a href="#" class="brand-logo">Your Library</a>-->
        <!--<ul id="nav-mobile" class="right hide-on-med-and-down">-->
            <!--<li><a ui-sref="#">Log Out</a></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</nav>-->


<div id="storyList">

<h1> Your Stories </h1>

<h1> {{$ctrl.username}}'s Stories </h1>

 {{$ctrl.stories}}


<ul>
  <li ng-repeat="story in $ctrl.stories">
    <article>
      <a ng-click="$ctrl.show(story)" > {{story.title}} </a>

        <button ng-click="$ctrl.edit(story)" class="btn-floating waves-effect waves-light green"><i class="material-icons">mode_edit</i></button>
        <button ng-click="$ctrl.delete(story)" class="btn-floating waves-effect waves-light red"><i class="material-icons">delete</i></button>
        <!--<button ng-click="$ctrl.edit(story)">Edit</button>-->
        <!--<button ng-click="$ctrl.delete(story)">Delete</button>-->
    </article>
  </li>
</ul>
</div>

<div id="addStory">
    <a ui-sref='storyNew' class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
</div>


<a class="btn-floating btn-large waves-effect waves-light red" ui-sref="storyNew"><i class="material-icons">add</i></a>

