<nav>
     <ul>
     <style>
         a {
             margin: 10px;
         }
     </style>
             <a ui-sref="storyNew">New</a>
             <a ui-sref="storyIndex">Index</a>
             <a ui-sref="storyShow">Show</a>
             <a ui-sref="storyEdit">Edit</a>
             <a ui-sref="signup">Sign Up</a>
     </ul>
</nav>
<h1> Your Stories </h1>
 {{$ctrl.stories}}
<ul>
  <li ng-repeat="story in $ctrl.stories">
    <article>
      <a ng-click="$ctrl.show(story)" > {{story.title}} </a>
      <button ng-click="$ctrl.edit(story)">Edit</button>
      <button ng-click="alert('this works')">Delete</button>
    </article>
  </li>
</ul>
