 <form class="loginForm"
        name="loginForm"
        ng-submit="$ctrl.login(loginForm)" novalidate>

    <fieldset class="form-group">

      <input type="email"
             id="username"
             placeholder="email"
             name="username"
             ng-model="$ctrl.user.username"
             class="form-control" required />


    </fieldset>



    <fieldset class="form-group">

      <input type="password"
             id="password"
             placeholder="password"
             name="password"
             ng-model="$ctrl.user.password"
             class="form-control" required />

    </fieldset>

    <button type="submit"
            class="waves-effect waves-light btn">Log in
    </button>

  </form>
